In [1]:
import pandas as pd

In [3]:
# Load data
df = pd.read_csv("./Data_Cleaning_Main.csv")

# Select and rename columns
df = df[['location', 'link']]

# Create a new column 'location-scrap' by combining 'location' and 'link'
df['location-scrap'] = df['location']

# Replace values in 'location-scrap'
df['location-scrap'] = df['location-scrap'].replace(['Location', '&nbsp', ';'], ['', '', ''], regex=True)

# Trim the text in 'location-scrap'
df['location-scrap'] = df['location-scrap'].str.strip()

                                            location  \
0  Location\n2500 Rocky Mountain Avenue, Loveland...
1                      Location\nPullman, WA\n&nbsp;
2                        Location\nCamas, WA\n&nbsp;
3                           Location\nRemote\n&nbsp;
4       Location\n7 Hazen Drive, Concord, NH\n&nbsp;

                                                link  \
0  https://www.indeed.com/rc/clk?jk=ab2aea441ea1e...
1  https://www.indeed.com/rc/clk?jk=45359086e0c5b...
2  https://www.indeed.com/rc/clk?jk=bfde32d85c230...
3  https://www.indeed.com/rc/clk?jk=e0f617350b0ec...
4  https://www.indeed.com/rc/clk?jk=ff79324cd280b...

                                   location-scrap
0  2500 Rocky Mountain Avenue, Loveland, CO 80538
1                                     Pullman, WA
2                                       Camas, WA
3                                          Remote
4                      7 Hazen Drive, Concord, NH

In [8]:
# Insert Text After Delimiter in 'location - scrap'
df['Text After Delimiter'] = df['location-scrap'].apply(lambda x: str(x).split(',')[-1].strip())

# Replace state names with abbreviations
states = {
    "Georgia": "GA", "Arkansas": "AR", "Arizona": "AZ", "Maine": "ME", "Alaska": "AK", 
    "Kansas": "KS", "Illinois": "IL", "Massachusetts": "MA", "Maryland": "MD", 
    "New York State": "NY", "North Carolina": "NC", "North Dakota": "ND", "Montana": "MT", 
    "Ohio": "OH", "Oklahoma": "OK", "Pennsylvania": "PA", "South Carolina": "SC", 
    "Wisconsin": "WI", "Hawaii": "HI", "Connecticut": "CT", "Minnesota": "MN", 
    "Missouri": "MO", "Nebraska": "NE", "Puerto Rico": "PR", "Mississippi": "MS", 
    "Texas": "TX", "Washington State": "WA", "Rhode Island": "RI", "California": "CA", 
    "Indiana": "IN", "Nevada": "NV", "New Jersey": "NJ", "Utah": "UT", "Michigan": "MI",
    "Tennessee": "TN", "Colorado": "CO", "Florida": "FL", "Virginia": "VA", "West Virginia": "WV",
    "India": "IN" 
}

df['Text After Delimiter'] = df['Text After Delimiter'].replace(states)

In [9]:
# Split column by delimiter
df[['State', 'extra']] = df['Text After Delimiter'].str.split(' ', n=1, expand=True)

# Final cleanup
df.drop(columns=['location-scrap', 'Text After Delimiter', 'extra'], inplace=True)

# Rename and reorder columns
df.rename(columns={'State': 'State Abbreviation'}, inplace=True)
df = df[['link','State Abbreviation']]

In [11]:
df

                                                    link State Abbreviation
0      https://www.indeed.com/rc/clk?jk=ab2aea441ea1e...                 CO
1      https://www.indeed.com/rc/clk?jk=45359086e0c5b...                 WA
2      https://www.indeed.com/rc/clk?jk=bfde32d85c230...                 WA
3      https://www.indeed.com/rc/clk?jk=e0f617350b0ec...             Remote
4      https://www.indeed.com/rc/clk?jk=ff79324cd280b...                 NH
...                                                  ...                ...
11285  https://www.indeed.com/rc/clk?jk=6078f1a23fe6f...                 AZ
11286  https://www.indeed.com/rc/clk?jk=09f289b51743a...                 CA
11287  https://www.indeed.com/rc/clk?jk=9b5fba4325f35...                 TX
11288  https://www.indeed.com/rc/clk?jk=086f4cc74e3a8...             Remote
11289  https://www.indeed.com/rc/clk?jk=b5ab293884916...                 CA

[11290 rows x 2 columns]

In [12]:
df.to_csv('States.csv', index=False)